.img-list {
    display: flex;
    justify-content: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15 px;
  padding-top: 15px;
  padding-bottom: 15px;
 }

body {
  font-family: "Roboto";
  font-size: 15px;
}

a {
  text-decoration: none;
}