header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header, .nav-list, .us {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-list:nth-last-child
{
margin-right: 50px;
}

.job-list, .img-list, .list-our-team {
    display: flex;
    justify-content: space-between;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15 px;
      padding-top: 110px;
  padding-bottom: 110px;
 }

body {
  font-family: "Roboto";
  font-size: 15px;
}

a {
  text-decoration: none;
}

header {

}
